//
   Created by Urvesh on 10/2/2015.

extends layout

block content
   h4 Users
   form(action='admin/update/' method='post')
      table#adminTable.table.table-striped.table-hover
         thead
            tr
               th: input#selectAll.center-block(type='checkbox')
               th Username
               th First Name
               th Last Name
               th Email
               th Password
               th isAdmin
         tbody
            tr
            if users
               each user in users
                  tr
                     td: input.center-block(type='checkbox')
                     td= user.username
                     td= user.firstname
                     td= user.lastname
                     td= user.email
                     td= user.password
                     td= user.isAdmin

            else
               tr
                  td
                     input.center-block(type='checkbox')
                  td user1
                  td Bob
                  td Kentucky
                  td bobK@aol.com
                  td abc123
                  td true
               tr
                  td
                     input.center-block(type='checkbox')
                  td user1
                  td Bob
                  td Kentucky
                  td bobK@aol.com
                  td abc123
                  td true


      //input.btn.btn-default(type='submit')

   script(src='/javascripts/main.js')


